.card_link {
    position: relative;
  }
  
  .card {
    position: relative;
    width: 100%;
    height: 400px;
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
  }
  .card::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    // background: linear-gradient(
    //   to bottom,
    //   rgba(0, 0, 0, 0) 0%,
    //   rgba(0, 0, 0, 0.6) 65%,
    //   rgba(0, 0, 0, 1) 100%
    // );
    z-index: 2;
  }
  .card_link:hover {
    opacity: 0.85;
  }
  
  .card_link:hover .card_button {
    visibility: visible;
    opacity: 1;
  }
  
  .text {
    position: absolute;
    bottom: 10px;
    left: 20px;
    height: 87px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    color: white;
    z-index: 4;
  }
  
  .card_title {
    text-align: left;
    font-family: var(--font-p);
    font-weight: 300;
    font-size: 18px;
  }
  .link:hover {
    opacity: 1;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  @media (max-width: 1010px) {
    .text {
      bottom: -80px;
      left: 25px;
      color: black;
      font-weight: bold;
      height: 75px;
      .link {
        color: black;
      }
    }
    // .card::after {
    //   background: linear-gradient(
    //     to bottom,
    //     rgba(0, 0, 0, 0) 0%,
    //     rgba(0, 0, 0, 0.3) 65%,
    //     rgba(0, 0, 0, 0.6) 100%
    //   );
    // }
  }
  
  @media (max-width: 774px) {
    .card {
      height: 300px;
    }
    .text {
      bottom: -90px;
      left: 10px;
      gap: 8px;
      font-size: 18px;
    }
    .card_title {
      font-size: 16px;
    }
  }
  @media (max-width: 620px) {
    .card {
      height: 290px;
    }
    .text {
      height: 78px;
      gap: 10px;
    }
  }
  @media (max-width: 515px) {
    .card {
      height: 250px;
    }
    .text {
      font-size: 16px;
    }
    .card_title {
      font-size: 12px;
    }
  }
  @media (max-width: 450px) {
    .card {
      height: 200px;
    }
    .text {
      bottom: -65px;
      height: 58px;
      gap: 2px;
      font-size: 14px;
    }
  }
  