.tea_items_block {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1200px;
  }
  
  .tea_title {
    margin-bottom: 30px;
  }
  .cards {
    margin: 0 10px;
    margin-left: 10px;
    margin-right: 10px;
    display: grid;
    grid-template-columns: 300px 300px 300px;
    gap: 35px;
  }
  @media (max-width: 1010px) {
    .cards {
      grid-template-columns: 350px 350px;
      row-gap: 150px;
    }
  }
  @media (max-width: 774px) {
    .cards {
      grid-template-columns: 250px 250px;
      gap: 20px;
      row-gap: 120px;
    }
  }
  @media (max-width: 620px) {
    .cards {
      grid-template-columns: 230px 230px;
      gap: 15px;
      row-gap: 120px;
    }
  }
  @media (max-width: 515px) {
    .cards {
      grid-template-columns: 200px 200px;
      gap: 10px;
      row-gap: 120px;
    }
  }
  @media (max-width: 450px) {
    .cards {
      grid-template-columns: 160px 160px;
      row-gap: 100px;
    }
  }
  @media (max-width: 350px) {
    .cards {
      grid-template-columns: 150px 150px;
    }
  }